@model Eventures.Models.BindingModels.EventCreateBindingModel

@{
    ViewData["Title"] = "Create";
}

<<h1 class="text-center mt-3">Create Event</h1>
<form class="mx-auto w-50" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr class="mx-auto bg-eventures hr-2" />
    <div class="d-flex justify-content-between text-center">
        <div class="form-group w-45">
            <label asp-for="Name" class="font-weight-bold"></label>
            <input asp-for="Name" class="form-control" type="text" placeholder="Name..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group w-45">
            <label asp-for="Place" class="font-weight-bold"></label>
            <input asp-for="Place" class="form-control" type="text" placeholder="Place..." />
            <span asp-validation-for="Place" class="text-danger"></span>
        </div>
    </div>
    <hr class="mx-auto bg-eventures hr-2" />
    <div class="d-flex justify-content-between text-center">
        <div class="form-group w-45">
            <label asp-for="Start" class="font-weight-bold"></label>
            <input asp-for="Start" class="form-control" type="datetime-local" placeholder="Start Date..." />
            <span asp-validation-for="Start" class="text-danger"></span>
        </div>
        <div class="form-group w-45">
            <label asp-for="End" class="font-weight-bold"></label>
            <input asp-for="End" class="form-control" type="datetime-local" placeholder="End Date..." />
            <span asp-validation-for="End" class="text-danger"></span>
        </div>
    </div>
    <hr class="mx-auto bg-eventures hr-2" />
    <div class="d-flex justify-content-between text-center">
        <div class="form-group w-45">
            <label asp-for="TotalTickets" class="font-weight-bold"></label>
            <input asp-for="TotalTickets" class="form-control" type="number" min="0" placeholder="Total tickets..." />
            <span asp-validation-for="TotalTickets" class="text-danger"></span>
        </div>
        <div class="form-group w-45">
            <label asp-for="PricePerTicket" class="font-weight-bold"></label>
            <input asp-for="PricePerTicket" class="form-control" type="number" step="0.01" min="0" placeholder="Price Per Ticket..." />
            <span asp-validation-for="PricePerTicket" class="text-danger"></span>
        </div>
    </div>
    <hr class="mx-auto bg-eventures hr-2 mt-3" />
    <div class="justify-content-center d-flex">
        <button class="bg-eventures btn" type="submit">Create Event</button>
    </div>
</form>
